.App {
  display: flex;
  flex-direction: row;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.Filters {
  min-width: 20%;
  padding: 20px;
}

.FiltersHeader {
  margin-bottom: 10px;
  font-weight: bold;
}

.HeroesList {
  flex: 1;
  margin-left: 20px;
}

.Hero {
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
}

.HeroImage {
  width: 100px;
}

.HeroDescription {
  margin-left: 20px;
}

.HeroItem {
  margin-bottom: 5px;
}

.HeroItem > span {
  font-weight: bold;
  margin-right: 5px;
}

.Search {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.SearchInput {
  flex: 1;
  margin: 0 !important;
}

.SearchBtn {
  margin-left: 10px !important;
}

.HeroPage {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.SingleHero {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 20px;
}

.SingleHeroImage {
  height: 300px;
}

@media only screen and (max-width: 600px) {
  .App {
    flex-direction: column;
    padding: 10px;
  }

  .Filters {
    margin-bottom: 20px;
  }

  .HeroesList {
    margin: 0;
  }

  .SingleHero {
    flex-direction: column;
    padding: 0;
  }

  .SingleHeroImage {
    height: auto;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .HeroItem {
    overflow: hidden;
    word-wrap: break-word;
  }

  .HeroDescription {
    margin: 10px;
  }
}